extends simplyLayout

block content
    main
        header.header
            p.headerTitle Mine
                span
                    img.headerLogo(src='/images/logo.png')
                | IOTA
            p.headerDesc IOTA Faucet - Get IOTA through mining Monero
        section
            table.table-fill
                thead
                    tr
                        th.rank__title #ABOUT
                tbody#simpleList
                    tr
                        td
                            div.row
                                div.col-md-1
                                    | 0.0.6
                                div.col-md-11
                                    | Now are tyres transaction data ready between 10 - 20 seconds. <br>
                                    | AuthedMine implementation, now you must Allow using your computing power

                    tr
                        td
                            div.row
                                div.col-md-1
                                    | 0.0.5
                                div.col-md-11
                                    | Now using keyIndex for getInputs = much faster transactions
                    tr
                        td
                            div.row
                                div.col-md-1
                                    | 0.0.4
                                div.col-md-11
                                    | Link to last payment from faucet
                    tr
                        td
                            div.row
                                div.col-md-1
                                    | 0.0.3
                                div.col-md-11
                                    | Balance speed improvement, total miners, total miners speed
                    tr
                        td
                            div.row
                                div.col-md-1
                                    | 0.0.2
                                div.col-md-11
                                    | HTTPS Enabled
                    tr
                        td
                            div.row
                                div.col-md-1
                                    | 0.0.1
                                div.col-md-11
                                    | First version of IOTA Faucet on mineiota.com



