extends layout

block content
    main
        header.header
            p.headerTitle Mine
                span
                    img.headerLogo(src='/images/logo.png')
                | IOTA
            p.headerDesc IOTA Faucet - Get IOTA through mining Monero
        section
            table.table-fill
                thead
                    tr
                        th.rank__title #FAQ
                tbody#simpleList



