extends layout

block content
  script(type='text/javascript').
      var iotaProvider = !{iotaProvider};
  main
    header.header
      p.headerTitle Mine
        span
          img.headerLogo(src='/images/logo.png')
        | IOTA
      p.headerDesc IOTA Faucet - Get IOTA through mining Monero
    section
      table.table-faucet
        thead
          tr
            th.th-balance Faucet balance available: &nbsp;
              span#faucetBalance 0
              |  IOTA
          tr
            th.th-tips
                ul.nav
                    li.nav-link Tips for spend:
                    li.nav-item
                        a.nav-link.disabled(href="http://iotart.io/", rel="follow", target="_blank") iotart.io
        tbody
          tr
            td
              h2.form-signin-heading Please set attached address in tangle
              ul.warningList
                  li Request withdrawal any time when mining, you will be added to queue. This withdrawal have primary priority.
                  //li When is queue empty, next payout is automatic choose from balance database.
                  li.warning No automatic withdrawal, until issue of wallet (refuse connection for multiple transactions) will be solved.
              form
                div.row
                  div.col-md-10
                    div.input-group.mb-2.mr-sm-2.mb-sm-0
                      div.input-group-addon IOTA Address
                      input.form-control#iotaAddress(type='text',placeholder='You can use same address until send funds to another address')
                  div.col-md-2
                    button.btn.btn-outline-secondary#setAddress(type='button') Submit
                    i.spinner#mySpinner
          tr#mineStats
            td
              div.container
                div.row
                    div.col-6
                        div.box.controls
                            h3 Threads
                            span.value#threads
                            span.value.action#threads-add +
                            span.value.divide /
                            span.value.action#threads-remove −
                    div.col-6
                        div.box.controls
                            h3 Speed
                            span.value.fixed-width#speed
                            span.value.action#speed-up +
                            span.value.divide /
                            span.value.action#speed-down −
                div.row
                  div.col-8
                    ul.list-group
                        li.list-group-item
                            div#mineSum
                            div#rewardNote *Reward is changing by actual exchanges rate XMR/BTC and IOTA/BTC until withdrawal
                            div#dateSum
                        li.list-group-item
                            | Profitability:&nbsp;
                            i.spinner#mySpinnerProfitability
                            span#iotaPerSecond
                            | &nbsp; IOTA/s &nbsp;
                  div.col-4.buttons-group
                    button.btn.btn-outline-primary#resumeMining(type='button') Resume
                    button.btn.btn-outline-danger#stopMining(type='button') Stop
                    button.btn.btn-outline-success#withdraw(type='button') Withdraw
          tr
            td#mineLog



