doctype html
html
  head
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-10753096-33"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-10753096-33');</script>
    title= title
    meta(http-equiv="Content-Type", content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1. shrink-to-fit=no')
    meta(name='author', content='https://github.com/janfiedler/mineiota')
    link(rel='icon', type='image/ico' href='favicon.ico')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Galada|Ubuntu:400,500,700')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    include topMenu
    block content

    script(type='text/javascript' src='https://authedmine.com/lib/authedmine.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js')
    script(type='text/javascript' src='/javascripts/iota.min.js')
    script(type='text/javascript' src='/javascripts/curl.min.js')

    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js')

    script(type='text/javascript' src='/javascripts/main.js')