doctype html
html
    head
        title= title
        meta(http-equiv="Content-Type", content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1. shrink-to-fit=no')
        meta(name='author', content='https://github.com/janfiedler/mineiota')
        link(rel='icon', type='image/ico' href='favicon.ico')
        meta(name='viewport', content='width=device-width, initial-scale=1. shrink-to-fit=no')
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M', crossorigin='anonymous')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Galada|Ubuntu:400,500,700')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        include topMenu
        block content

        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js')