nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='#')
        | 0.0.2
    div.collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href="/") Home
            li.nav-item
                a.nav-link(href="/faq") FAQ
            li.nav-item
                a.nav-link(href="/about") About
            li.nav-item
                a.nav-link.disabled(href="https://iota.org/",target="_blank") iota.org
        //div.navbar-text.zoneLastPayout
            | Last IOTA Faucet payout<br/>
            span#lastPayout