nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='#')
        | IOTA Faucet 0.0.2
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href="/") Home
            li.nav-item
                a.nav-link(href="/faq") FAQ
            li.nav-item
                a.nav-link(href="/about") About
            li.nav-item
                a.nav-link.disabled(href="https://iota.org/",target="_blank") iota.org
        //div.navbar-text.zoneLastPayout
            | Last IOTA Faucet payout<br/>
            span#lastPayout