nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='/about')
        | IOTA Faucet 0.0.7
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href="/") Home
            li.nav-item
                a.nav-link(href="/faq") FAQ
            li.nav-item
                a.nav-link(href="/about") About
            li.nav-item
                a.nav-link.disabled(href="https://iota.org/",target="_blank") iota.org
            li.nav-item
                a.nav-link.disabled(href="https://github.com/janfiedler/mineiota/",target="_blank") GitHub
        div.navbar-text.infoZone
            div.row
                div.col-md-12
                    | <small>new payout:&nbsp;</small>
                    span#lastPayout
            div.row
                div.col-md-12
                    | miners online:&nbsp;
                    span#minersOnline
                    | &nbsp;&nbsp;total speed:&nbsp;
                    span#totalSpeed
                    | &nbsp;iota/s
