* {
  padding: 0;
  margin: 0;
  border: 0;
  top: 0;
  border-radius: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  -webkit-border-radius: 0;
}

body,
html {
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  width: 100%;
  background-color: #eee;
}

.header {
  height: 350px;
  width: 100%;
  background-color: #3E7A78;
  color: #fff;
  overflow: hidden;
  text-align: center;
}

.headerLogo {
  width: 76px;
  height: 76px;
  margin: 0 10px;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.headerTitle {
  font-family: 'Galada', cursive;
  font-size: 66px;
  margin: 0px;
}
.warning {
  color: #ff544f;
  margin: 0px;
}
.headerDesc {
  font-size: 33px;
}
/***
  **  Table
  **/

.table-fill {
  max-width: 800px;
  padding:5px;
  width: 100%;
  margin: 50px auto;
  border-collapse: collapse;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: -180px;
}

th {
  color:#fff;;
  background: #1b1e24;
  border-bottom: 4px solid #9ea7af;
  font-size:23px;
  font-weight: 100;
  padding: 24px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
  text-align: center;
}

th:first-child {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

th:nth-child(2) {
  border-right: 1px solid #343a45;
  border-left: 1px solid #343a45;
}

th:nth-child(3) {
  border-right: 1px solid #343a45;
  border-left: 1px solid #343a45;
}

th:last-child {
  border-top-right-radius: 25px;
}

tr {
  border-bottom: 1px solid #C1C3D1;
  color: #666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

td {
  background:#FFFFFF;
  padding:20px;
  text-align: center;
  vertical-align: middle;
  font-weight:300;
  font-size:18px;
}

.buttons-group {
  margin: auto auto;
}
.buttons-group button {
  margin: 5px;
}
.infoZone{
  width:100%;
  text-align: right;
}
#mineStats, #mySpinner, #resumeMining{
  display: none;
}
#mineLog{
 text-align: left;
  font-size: 15px;
  line-height: 1.42857143;
  color: #333;
  background-color: #f5f5f5;
}
#iotaAddress{
  font-size: 12px;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}

#mySpinnerProfitability{
  display: inline-block;
  margin: 0px 10px;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  /*left: 50%;*/
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}

#simpleList td{
  text-align: left;
}
#simpleList img{
  width:100%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (min-width: 480px) {
  .nav-list {
    display: block;
  }
}

@media (min-width: 768px) {
  .nav-right {
    position: absolute;
  }
  .hidden-xs {
    display: block;
  }
  .visible-xs {
    display: none;
  }
}
